
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

div {
  margin: 10px;
}

label {
  margin-right: 10px;
}

input, select {
  margin: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
